/* page 1 */
#title p{
	color:white; font-size: 10em; font-variant:small-caps; 
	
	/* for setting title position */
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1em;
}

footer{
	background-color: rgb(156, 184, 235);
}
.item{
	padding-top: 0.3em;
	font-size: 2.5em;
	text-align: center;
	vertical-align: middle;
	padding-bottom: 0.3em;
}

body{
	padding-top: 70px;
	background-color: darkslateblue;
}

article{
	background: darkslateblue;
}

#title{
	/* for setting title position */
	position:fixed; top:0; bottom:0; left: 0; right: 0;
}

.leftbutton{
    top: 0;
    bottom: 0;
    left: 0;
    width: 1em;
    position: absolute;
}
.rightbutton{
    top: 0;
    bottom: 0;
    right: 0;
    width: 1em;
    position: absolute;
}

.well{
	border-radius: 2;
	box-shadow: 0px 2px 5px;
}

h3{
	color: white;
font-size: 4.5em;
}

